.button {
    cursor: pointer;
    background-color: var(--blue);
    color: white;

    font-size: 12px;

    border: 0;
    border-radius: 8px;
    padding: 8px 16px;

    &:hover {
        background-color: var(--dark-blue);
        color: whitesmoke;
    }
}